body{
    font-family:"Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#fff;
    color: #212121;
}

.container-fluid, .row, .col-md-6{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.bg-negro{
    background-color: #0e2737;
}

.bg-dark-teal{
    background-color: #00796B;
}

.teal-text{
    color:#009688;
    font-weight: 600;
}
.secondary-text{
   color: #757575;
}
.navbar-collapse {
    width: 80%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: larger;
}

.navbar{
    opacity: 0.9;
}

nav{
 font-family: "Rubik";
}

.navbar-brand{
  padding-left: 15px;
}

#contenedor-carrusel{
    position: relative;
   
}

#landing-text{
    color: #fff;
    position:absolute;
    width: 100%;
    top: 300px;
}

#landing-text h1{
    font-size: 3.5rem;
    text-shadow: .1rem .1rem .5rem black;
    color: rgba( 255, 255, 255, 0.85);
}

#landing-text h4{
    font-size: 2.5rem;
    text-shadow: .1rem .1rem .5rem black;
    color: rgba( 255, 255, 255, 0.85);
}

#landing-text .btn-lg{
    border-width: 2.5px;
    border-radius: 2px;
    border-color: #009688;
    font-size: 1.4rem;
    padding: 0.6rem 1.3rem ;
    margin-top: 2rem;
}

#landing-text .btn-lg:hover{
 background-color: #009688;
 color: #fff;
}

i{
    color: #009688;
}

#imagen-contacto{
    border-radius: 7px;
    transition: 0.5s;
}

#imagen-contacto:hover{
   opacity: 0.9;
   transition: 0.5s;
}

.page-footer i {
    font-size: larger;
    font-style: normal;
    padding-right: 2%;
}

footer{
    border: 0px !important;
    width: 100%;
    background-color:#0e2737 ;
    color: #fff;
}

.list-unstyled li a {
    text-decoration: none;
}

#cuartos{
    color: #fff;
}

#btn-checar{
    background-color: #009688;
    color: #fff;
    border-radius: 2px;
}

#btn-checar:hover{
    background-color: #00796B;
    transition: .5s;
}

#formulario{
    background-color: #0e2737;
}

#formulario p, #formulario h1{
    color: #fff;
}

#formulario img{
    border-radius: 7px;
}

#covid img{
    width: 200px;
    height: auto;
}

#lugares{
    background-color: #0e2737;
    color: #fff;
}

#lugares .carousel-caption{
    color: #fff;
    text-shadow: 1px 1px 2px #212121;
}